#!/usr/bin/env bash

# If you have `direnv` installed, this file will source
# the Nix devShell `default` when entering this directory.
use flake ./tools/nix#default --no-pure-eval

# reload on any nix file change.
watch_file tools/nix/* tools/nix/modules/*.nix tools/nix/packages/*.nix
